
# bagging technique with outlier detection

it is also called bootstrap aggregation where it uses subset of resample with replacemt like if we have 100 sample it will take random 70 sample of sets like we need to want and after training using cv we will take mean for its score this is bootstrap aggregation

In [2]:
import pandas as pd

In [3]:
data=pd.read_csv("heart.csv")

In [4]:
data.head()

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0

In [5]:
data.shape

(918, 12)

In [6]:
data.isna().any().sum()

0

In [7]:
data.Sex.value_counts()

M    725
F    193
Name: Sex, dtype: int64

In [8]:
(725/193)

3.756476683937824

In [9]:
data.describe()

,Age,RestingBP,Cholesterol,FastingBS,MaxHR,Oldpeak,HeartDisease
count,918.000000,918.000000,918.000000,918.000000,918.000000,918.000000,918.000000
mean,53.510893,132.396514,198.799564,0.233115,136.809368,0.887364,0.553377
std,9.432617,18.514154,109.384145,0.423046,25.460334,1.066570,0.497414
min,28.000000,0.000000,0.000000,0.000000,60.000000,-2.600000,0.000000
25%,47.000000,120.000000,173.250000,0.000000,120.000000,0.000000,0.000000
50%,54.000000,130.000000,223.000000,0.000000,138.000000,0.600000,1.000000
75%,60.000000,140.000000,267.000000,0.000000,156.000000,1.500000,1.000000
max,77.000000,200.000000,603.000000,1.000000,202.000000,6.200000,1.000000

In [10]:
upperlim=data.Cholesterol.mean()+3*data.Cholesterol.std()

In [11]:
lowerlim=data.Cholesterol.mean()-data.Cholesterol.std()

In [12]:
upperlim,lowerlim

(526.9519979267626, 89.41541971794913)

In [13]:
data[(data.Cholesterol>upperlim)|(data.Cholesterol<lowerlim)]

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
76,32,M,ASY,118,529,0,Normal,130,N,0.0,Flat,1
98,56,M,ASY,120,85,0,Normal,140,N,0.0,Up,0
149,54,M,ASY,130,603,1,Normal,125,Y,1.0,Flat,1
293,65,M,ASY,115,0,0,Normal,93,Y,0.0,Flat,1
294,32,M,TA,95,0,1,Normal,127,N,0.7,Up,1
...,...,...,...,...,...,...,...,...,...,...,...,...
515,63,M,NAP,130,0,1,ST,160,N,3.0,Flat,0
518,48,M,NAP,102,0,1,ST,110,Y,1.0,Down,1
535,56,M,ASY,130,0,0,LVH,122,Y,1.0,Flat,1
536,62,M,NAP,133,0,1,ST,119,Y,1.2,Flat,1
616,67,F,NAP,115,564,0,LVH,160,N,1.6,Flat,0

In [14]:
data[data.Cholesterol>(data.Cholesterol.mean()+3*data.Cholesterol.std())]

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
76,32,M,ASY,118,529,0,Normal,130,N,0.0,Flat,1
149,54,M,ASY,130,603,1,Normal,125,Y,1.0,Flat,1
616,67,F,NAP,115,564,0,LVH,160,N,1.6,Flat,0

In [15]:
data1=data[data.Cholesterol<=(data.Cholesterol.mean()+3*data.Cholesterol.std())]
data1.shape

(915, 12)

In [16]:
data[data.RestingBP>(data.RestingBP.mean()+data.RestingBP.std()*3)]

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
109,39,M,ATA,190,241,0,Normal,106,N,0.0,Up,0
241,54,M,ASY,200,198,0,Normal,142,Y,2.0,Flat,1
365,64,F,ASY,200,0,0,Normal,140,Y,1.0,Flat,1
399,61,M,NAP,200,0,1,ST,70,N,0.0,Flat,1
592,61,M,ASY,190,287,1,LVH,150,Y,2.0,Down,1
732,56,F,ASY,200,288,1,LVH,133,Y,4.0,Down,1
759,54,M,ATA,192,283,0,LVH,195,N,0.0,Up,1

In [17]:
data2=data[data.RestingBP<=(data.RestingBP.mean()+3*data.RestingBP.std())]
data2.shape

(911, 12)

In [18]:
data[data.FastingBS>(data.FastingBS.mean()+3*data.FastingBS.std())]

Empty DataFrame
Columns: [Age, Sex, ChestPainType, RestingBP, Cholesterol, FastingBS, RestingECG, MaxHR, ExerciseAngina, Oldpeak, ST_Slope, HeartDisease]
Index: []

In [19]:
data[data.MaxHR>(data.MaxHR.mean()+3*data.MaxHR.std())]

Empty DataFrame
Columns: [Age, Sex, ChestPainType, RestingBP, Cholesterol, FastingBS, RestingECG, MaxHR, ExerciseAngina, Oldpeak, ST_Slope, HeartDisease]
Index: []

In [20]:
data[data.Oldpeak>(data.Oldpeak.mean()+3*data.Oldpeak.std())]

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
166,50,M,ASY,140,231,0,ST,140,Y,5.0,Flat,1
702,59,M,TA,178,270,0,LVH,145,N,4.2,Down,0
771,55,M,ASY,140,217,0,Normal,111,Y,5.6,Down,1
791,51,M,ASY,140,298,0,Normal,122,Y,4.2,Flat,1
850,62,F,ASY,160,164,0,LVH,145,N,6.2,Down,1
900,58,M,ASY,114,318,0,ST,140,N,4.4,Down,1

In [21]:
data3=data[data.Oldpeak<=(data.Oldpeak.mean()+3*data.Oldpeak.std())]
data.shape[0]-data3.shape[0]

6

In [22]:
data.RestingECG.unique()

array(['Normal', 'ST', 'LVH'], dtype=object)

In [23]:
data.ChestPainType.unique()

array(['ATA', 'NAP', 'ASY', 'TA'], dtype=object)

In [24]:
data.ST_Slope.unique()

array(['Up', 'Flat', 'Down'], dtype=object)

In [25]:
data.ExerciseAngina.unique()

array(['N', 'Y'], dtype=object)

In [26]:
data4=data3.copy()

In [27]:
data4.ExerciseAngina=data4.ExerciseAngina.map({"N":"0","Y":"1"}).astype(int)

In [28]:
data4.RestingECG=data4.RestingECG.map({'Normal':0, 'ST':1, 'LVH':2}).astype(int)

In [29]:
data4.ChestPainType=data4.ChestPainType.map({'ATA':0, 'NAP':1,'ASY':2,"TA":3}).astype(int)

In [30]:
data4.ST_Slope=data4.ST_Slope.map({'Up':0, 'Flat':1, 'Down':2})

In [31]:
data4.Sex=data4.Sex.map({"M":1,"F":0}).astype(int)

In [32]:
data4

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,1,0,140,289,0,0,172,0,0.0,0,0
1,49,0,1,160,180,0,0,156,0,1.0,1,1
2,37,1,0,130,283,0,1,98,0,0.0,0,0
3,48,0,2,138,214,0,0,108,1,1.5,1,1
4,54,1,1,150,195,0,0,122,0,0.0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
913,45,1,3,110,264,0,0,132,0,1.2,1,1
914,68,1,2,144,193,1,0,141,0,3.4,1,1
915,57,1,2,130,131,0,0,115,1,1.2,1,1
916,57,0,0,130,236,0,2,174,0,0.0,1,1
917,38,1,1,138,175,0,0,173,0,0.0,0,0

In [33]:
data4.shape

(912, 12)

In [34]:
x=data4.drop(["HeartDisease"],axis=1)
y=data4.HeartDisease

In [35]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
scaledX=sc.fit_transform(x)

In [36]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(scaledX, y, test_size=0.2, random_state=10)

In [37]:
from sklearn.svm import SVC
from sklearn.model_selection import cross_val_score
cvs=cross_val_score(SVC(),x,y,cv=6)
cvs.mean()

0.7006578947368421

In [38]:
from sklearn.ensemble import BaggingClassifier
bg=BaggingClassifier( base_estimator=SVC(),n_estimators=150,max_samples=0.9)
scores=cross_val_score(bg,x,y)
bg.fit(X_train,y_train)
scores.mean()

0.6830601092896175

In [39]:
from sklearn.tree import DecisionTreeClassifier
score=cross_val_score(DecisionTreeClassifier(),X_train,y_train)
scores.mean()

0.6830601092896175

In [40]:
from sklearn.ensemble import BaggingClassifier
bg=BaggingClassifier(base_estimator=DecisionTreeClassifier(),n_estimators=100,oob_score=True)
scores=cross_val_score(bg,x,y,cv=6)
scores.mean()

0.8300438596491229

OUT OF ALL THE ALGORITHM I USED ABOVE HERE I THINK FROM ENSEMBLE BAGGINGCLASSIFIER WORKS VERY WELL COMPARED TO ALL THE OTHER TECHNIQUES I HAVE USED