In [1]:
import pandas as pd
import numpy as np

In [7]:
imb_data=pd.read_csv("aug_train.csv")

In [35]:
imb_data.Response.tail() #we have 0s in head

382149    0
382150    0
382151    0
382152    0
382153    0
Name: Response, dtype: int64

In [36]:
imb_data.Response.head() #0s in tail imbalanced

0    0
1    0
2    0
3    0
4    0
Name: Response, dtype: int64

In [34]:
imb_data

,id,Gender,Age,Driving_License,Region_Code,Previously_Insured,Vehicle_Age,Vehicle_Damage,Annual_Premium,Policy_Sales_Channel,Vintage,Response
0,167647,Male,22,1,7.0,1,< 1 Year,No,2630.0,152.0,16,0
1,17163,Male,42,1,28.0,0,1-2 Year,Yes,43327.0,26.0,135,0
2,32023,Female,66,1,33.0,0,1-2 Year,Yes,35841.0,124.0,253,0
3,87447,Female,22,1,33.0,0,< 1 Year,No,27645.0,152.0,69,0
4,501933,Male,28,1,46.0,1,< 1 Year,No,29023.0,152.0,211,0
...,...,...,...,...,...,...,...,...,...,...,...,...
382149,164549,Male,24,1,15.0,0,< 1 Year,Yes,23938.0,152.0,105,0
382150,247064,Male,27,1,28.0,1,< 1 Year,No,336395.0,152.0,144,0
382151,165293,Male,45,1,28.0,0,1-2 Year,Yes,40443.0,26.0,187,0
382152,383241,Female,28,1,28.0,1,< 1 Year,No,25380.0,152.0,208,0
382153,401019,Female,29,1,18.0,1,< 1 Year,No,30396.0,152.0,104,0

In [13]:
imb_data.Response.value_counts()

0    319553
1     62601
Name: Response, dtype: int64

this has imbalanced data

0-->no response
1-->yes response

In [15]:
yes_response=imb_data[imb_data.Response == 1]
no_response=imb_data[imb_data.Response == 0]

In [16]:
yes_response.shape

(62601, 12)

In [19]:
no_response.shape

(319553, 12)

under sampling technique

no of no response=319553

In [25]:
no_resp=no_response.sample(n=62601)

In [27]:
no_resp.shape

(62601, 12)

concat two dataframes

In [31]:
NEW_DATA=pd.concat([no_resp,yes_response])

In [32]:
NEW_DATA

,id,Gender,Age,Driving_License,Region_Code,Previously_Insured,Vehicle_Age,Vehicle_Damage,Annual_Premium,Policy_Sales_Channel,Vintage,Response
105983,436902,Male,31,1,37.0,1,< 1 Year,No,33848.0,152.0,13,0
137920,250342,Female,32,1,35.0,1,< 1 Year,No,31544.0,152.0,80,0
46528,295005,Male,59,1,43.0,0,1-2 Year,Yes,26531.0,26.0,172,0
363859,3360,Male,43,1,44.0,0,1-2 Year,Yes,2630.0,157.0,152,0
211817,355181,Female,22,1,13.0,0,< 1 Year,Yes,18684.0,152.0,126,0
...,...,...,...,...,...,...,...,...,...,...,...,...
382106,143075,Female,46,1,8.0,0,1-2 Year,Yes,68063.0,26.0,100,1
382116,323079,Female,39,1,28.0,0,1-2 Year,Yes,27348.0,35.0,142,1
382137,332530,Male,39,1,46.0,0,1-2 Year,Yes,23926.0,124.0,97,1
382143,447797,Male,54,1,28.0,0,1-2 Year,Yes,37138.0,26.0,276,1
382147,498091,Female,48,1,28.0,0,1-2 Year,Yes,42805.0,26.0,80,1

In [38]:
NEW_DATA.Response.head()

105983    0
137920    0
46528     0
363859    0
211817    0
Name: Response, dtype: int64

In [39]:
NEW_DATA.Response.tail()

382106    1
382116    1
382137    1
382143    1
382147    1
Name: Response, dtype: int64

In [40]:
NEW_DATA["Response"].value_counts()

1    62601
0    62601
Name: Response, dtype: int64